{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% block content %}
    <h1 class="ui monster section dividing header">
        {{ taxon.name }}
        <div class="sub header">{{ taxon.description }}</div>
    </h1>
    {{ form_start(form, {'method': 'GET', 'attr': {'class': 'ui loadable form'}}) }}
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui fluid vertical menu">
                <div class="header item">
                    {{ 'bitbag_sylius_elasticsearch_plugin.ui.filter_results'|trans }}
                </div>
                {% include '@BitBagSyliusElasticsearchPlugin/Shop/Product/Index/_filterForm.html.twig' %}
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui segment">
                <div class="ui stackable grid">
                    <div class="five wide column">
                        {% include '@BitBagSyliusElasticsearchPlugin/Shop/Product/Index/_sorting.html.twig' %}
                        {% include '@BitBagSyliusElasticsearchPlugin/Shop/Product/Index/_pagination.html.twig' %}
                    </div>
                    <div class="eleven wide column">
                        <div class="ui action input">
                            {{ form_widget(form.name, {'attr': {'placeholder': 'sylius.ui.search'}}) }}
                            <button type="submit" class="ui primary icon button">
                                <i class="search icon"></i>
                            </button>
                            <a href="{{ path('bitbag_sylius_elasticsearch_plugin_shop_list_products', {'slug': taxon.slug}) }}" class="ui negative icon button">
                                <i class="cancel icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% if products|length > 0 %}
                <div class="ui three column stackable grid" id="products">
                    {% for product in products %}
                        <div class="column">
                            {% include '@SyliusShop/Product/_box.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
                <div class="ui hidden divider"></div>

                {{ pagination.simple(products) }}
            {% else %}
                {{ messages.info('sylius.ui.no_results_to_display') }}
            {% endif %}
        </div>
    </div>
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}
